// Blue
$deepblue: #121f66; // rgba(18, 31, 102, 1);
$middleblue: #1e33a8; // rgba(30, 51, 168, 1);
$blue: #012ef5; // rgba(1, 46, 245, 1);
$lightblue: #012ef5; // rgba(1, 46, 245, 0.5);
$whitesmoke: #f5f5f5; // rgba(245, 245, 245, 1);
$lightsmoke: rgba(245, 245, 245, 0.5);
